.boxPages {
    display: flex;
    gap: 25px;
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
    /*margin: 15px 15px 15px 15px;*/
    margin: 25px 160px 15px 135px;
}

.detailsBox{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.titleBox{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.dateBox{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.cardContainer img {
    /*width: 200px;  !* Установить фиксированную ширину *!*/
    /*height: 300px; !* Установить фиксированную высоту *!*/
    /*object-fit: cover; !* Изображение будет обрезано, чтобы заполнить область *!*/
    border-radius: 15px;
}

.genresBox{
    display: flex;
    gap: 20px;
}

.voteAverage{
    background-color: red;
    width: 50px;
    height: 50px;
    /*text-align: center;*/
    border-radius: 50%;
    /*position: absolute;*/
    /*top: 235px;*/
    /*left: 135px;*/
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;;
}



.voteAverageRed {
    background-color: red;
}

.voteAverageYellow {
    background-color: yellow;
}

.voteAverageGreen {
    background-color: green;
}

.titleSectionActor{
    margin: 15px 15px 15px 15px;
}

.actorsCardContainer{
    display: flex;
    gap:25px;
    margin: 15px 15px 15px 15px;
}

.actorsCard img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.actors {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.buttonsBack{
    display: flex;
    position: absolute;
    top: 25px;
    right: 115px;
}

.MoreForMoviePages{
    position: relative;
}