


.cardSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    background-color: var(--background-color); /* Фон для секции карточек */
    padding: 20px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardsContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--background-color); /* Задний фон для контейнера карточек */
}

.cardContainer {
    width: var(--card-width);
    text-align: center;
    position: relative;
    background-color: var(--card-background); /* Фон карточки */
    border-radius: var(--card-border-radius);
}

.cardContainer img {
    width: var(--card-width);
    height: var(--card-height);
    object-fit: cover;
    border-radius: var(--card-border-radius);
}


.navLinkButton {
    padding: 10px 20px;
    border-radius: var(--card-border-radius);
    border: 2px solid;
    background-color: var(--button-background); /* Цвет фона в зависимости от темы */
    color: var(--text-color); /* Цвет текста в зависимости от темы */
    text-decoration: none;
    transition: var(--transition);
}

.navLinkButton:hover {
    background-color: var(--button-hover); /* Цвет фона при наведении */
    color: white;  /* Цвет текста при наведении */
    border-color: var(--button-hover); /* Цвет границы при наведении */
}



[data-theme='dark'] .navLinkButton {
    background-color: white; /* Белый фон в темной теме */
    color: var(--text-color-dark); /* Темный текст в темной теме */
    border-color: white; /* Белая граница в темной теме */
}

[data-theme='dark'] .navLinkButton:hover {
    background-color: var(--button-hover); /* Синий фон на hover в темной теме */
    color: white; /* Белый текст при наведении */
    border-color: var(--button-hover); /* Синяя граница при наведении */
}


[data-theme='light'] .navLinkButton {
    background-color: var(--button-background); /* Синий фон в светлой теме */
    color: var(--text-color-light); /* Белый текст в светлой теме */
    border-color: var(--button-background); /* Синяя граница в светлой теме */
}

[data-theme='light'] .navLinkButton:hover {
    background-color: var(--button-hover); /* Тёмно-синий фон на hover в светлой теме */
    color: white; /* Белый текст при наведении */
    border-color: var(--button-hover); /* Тёмно-синяя граница при наведении */
}

/* Стили для голосов */
.voteAverage {
    background-color: var(--vote-red);
    width: var(--vote-average-size);
    height: var(--vote-average-size);
    border-radius: 50%;
    position: absolute;
    top: 235px;
    left: 135px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.voteAverageRed {
    background-color: var(--vote-red);
}

.voteAverageYellow {
    background-color: var(--vote-yellow);
}

.voteAverageGreen {
    background-color: var(--vote-green);
}


h2{
    color:var(--text-color);
}