/*.cardsContainer {*/
/*    display: flex;*/
/*    gap: 10px;*/
/*    margin-top: 100px;*/
/*}*/

/*.cardContainer {*/
/*    width: 100%;*/
/*    !*display: flex;*!*/
/*    text-align: center;*/


/*}*/

/*.cardHeader {*/
/*    display: flex;*/
/*}*/


/*.navLinkButton {*/
/*    display: inline-block;*/
/*    padding: 10px 20px; !* Отступы внутри кнопки *!*/
/*    background-color: white; !* Белый фон *!*/
/*    color: black; !* Черный текст *!*/
/*    border: 2px solid ; !* Прозрачная граница *!*/
/*    text-align: center;*/
/*    text-decoration: none; !* Убираем подчеркивание *!*/
/*    !* Радиус углов, для округления *!*/
/*    font-size: 16px; !* Размер шрифта *!*/
/*    transition: all 0.3s ease; !* Плавное изменение при наведении *!*/
/*    border-radius: 15px;*/

/*    position: relative;*/
/*    !*transform: translate(1030%, -1049%);*!*/
/*    top: -442px;*/
/*    left: 1177px;*/
/*}*/

/*.navLinkButton:hover {*/
/*    background-color: black; !* Черный фон при наведении *!*/
/*    color: white; !* Белый текст при наведении *!*/
/*    border-color: black; !* Черная граница при наведении *!*/
/*}*/






/*.cardSection {*/
/*    display: flex;*/
/*    flex-direction: column; !* карточки идут под шапкой *!*/
/*    gap: 20px;*/
/*    margin-top: 50px;*/
/*}*/

/*.cardHeader {*/
/*    display: flex;*/
/*    justify-content: space-between; !* заголовок слева, кнопка справа *!*/
/*    align-items: center;*/
/*}*/

/*.cardsContainer {*/
/*    display: flex;*/
/*    gap: 10px;*/
/*    flex-wrap: wrap; !* чтобы карточки переносились на следующую строку *!*/
/*    justify-content: space-around;*/
/*}*/

/*.cardContainer {*/
/*    width: 200px;*/
/*    !*height: 300px;*!*/
/*    !*width: 100%;*!*/
/*    text-align: center;*/
/*    position: relative;*/

/*}*/

/*.cardContainer img {*/
/*    width: 200px;  !* Установить фиксированную ширину *!*/
/*    height: 300px; !* Установить фиксированную высоту *!*/
/*    object-fit: cover; !* Изображение будет обрезано, чтобы заполнить область *!*/
/*    border-radius: 15px;*/
/*}*/


/*.navLinkButton {*/
/*    padding: 10px 20px;*/
/*    border-radius: 15px;*/
/*    border: 2px solid ;*/
/*    background-color: white;*/
/*    color: black;*/
/*    text-decoration: none;*/
/*    transition: all 0.3s ease;*/
/*}*/

/*.navLinkButton:hover {*/
/*    background-color: black;*/
/*    color: white;*/
/*    border-color: black;*/
/*}*/

/*.voteAverage{*/
/*    background-color: red;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    !*text-align: center;*!*/
/*    border-radius: 50%;*/
/*    position: absolute;*/
/*    top: 235px;*/
/*    left: 135px;*/
/*    color: white;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;;*/
/*}*/



/*.voteAverageRed {*/
/*    background-color: red;*/
/*}*/

/*.voteAverageYellow {*/
/*    background-color: yellow;*/
/*}*/

/*.voteAverageGreen {*/
/*    background-color: green;*/
/*}*/



/* Определение переменных в :root */


/*.cardSection {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 20px;*/
/*    margin-top: 50px;*/
/*}*/

/*.cardHeader {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*.cardsContainer {*/
/*    display: flex;*/
/*    gap: 10px;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-around;*/
/*}*/

/*.cardContainer {*/
/*    width: var(--card-width);*/
/*    text-align: center;*/
/*    position: relative;*/
/*}*/

/*.cardContainer img {*/
/*    width: var(--card-width);*/
/*    height: var(--card-height);*/
/*    object-fit: cover;*/
/*    border-radius: var(--card-border-radius);*/
/*}*/

/*.navLinkButton {*/
/*    padding: 10px 20px;*/
/*    border-radius: var(--card-border-radius);*/
/*    border: 2px solid;*/
/*    background-color: white;*/
/*    color: black;*/
/*    text-decoration: none;*/
/*    transition: var(--transition);*/
/*}*/

/*.navLinkButton:hover {*/
/*    background-color: black;*/
/*    color: white;*/
/*    border-color: black;*/
/*}*/

/*.voteAverage {*/
/*    background-color: var(--vote-red);*/
/*    width: var(--vote-average-size);*/
/*    height: var(--vote-average-size);*/
/*    border-radius: 50%;*/
/*    position: absolute;*/
/*    top: 235px;*/
/*    left: 135px;*/
/*    color: white;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.voteAverageRed {*/
/*    background-color: var(--vote-red);*/
/*}*/

/*.voteAverageYellow {*/
/*    background-color: var(--vote-yellow);*/
/*}*/

/*.voteAverageGreen {*/
/*    background-color: var(--vote-green);*/
/*}*/


/* Стили для карточек */
/*.cardSection {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 20px;*/
/*    margin-top: 50px;*/
/*}*/

/*.cardHeader {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*.cardsContainer {*/
/*    display: flex;*/
/*    gap: 10px;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-around;*/
/*}*/

/*.cardContainer {*/
/*    width: var(--card-width);*/
/*    text-align: center;*/
/*    position: relative;*/
/*    background-color: var(--card-background);*/
/*}*/

/*.cardContainer img {*/
/*    width: var(--card-width);*/
/*    height: var(--card-height);*/
/*    object-fit: cover;*/
/*    border-radius: var(--card-border-radius);*/
/*}*/

/*.navLinkButton {*/
/*    padding: 10px 20px;*/
/*    border-radius: var(--card-border-radius);*/
/*    border: 2px solid;*/
/*    background-color: white;*/
/*    color: var(--text-color);*/
/*    text-decoration: none;*/
/*    transition: var(--transition);*/
/*}*/

/*.navLinkButton:hover {*/
/*    background-color: black;*/
/*    color: white;*/
/*    border-color: black;*/
/*}*/

/*.voteAverage {*/
/*    background-color: var(--vote-red);*/
/*    width: var(--vote-average-size);*/
/*    height: var(--vote-average-size);*/
/*    border-radius: 50%;*/
/*    position: absolute;*/
/*    top: 235px;*/
/*    left: 135px;*/
/*    color: white;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.voteAverageRed {*/
/*    background-color: var(--vote-red);*/
/*}*/

/*.voteAverageYellow {*/
/*    background-color: var(--vote-yellow);*/
/*}*/

/*.voteAverageGreen {*/
/*    background-color: var(--vote-green);*/
/*}*/

.cardSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    background-color: var(--background-color); /* Фон для секции карточек */
    padding: 20px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardsContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--background-color); /* Задний фон для контейнера карточек */
}

.cardContainer {
    width: var(--card-width);
    text-align: center;
    position: relative;
    background-color: var(--card-background); /* Фон карточки */
    border-radius: var(--card-border-radius);
}

.cardContainer img {
    width: var(--card-width);
    height: var(--card-height);
    object-fit: cover;
    border-radius: var(--card-border-radius);
}

/* Стили кнопок */
/*.navLinkButton {*/
/*    padding: 10px 20px;*/
/*    border-radius: var(--card-border-radius);*/
/*    border: 2px solid;*/
/*    background-color: white;*/
/*    color: var(--text-color);*/
/*    text-decoration: none;*/
/*    transition: var(--transition);*/
/*}*/

/*.navLinkButton:hover {*/
/*    background-color: black;*/
/*    color: white;*/
/*    border-color: black;*/
/*}*/
.navLinkButton {
    padding: 10px 20px;
    border-radius: var(--card-border-radius);
    border: 2px solid;
    background-color: var(--button-background); /* Цвет фона в зависимости от темы */
    color: var(--text-color); /* Цвет текста в зависимости от темы */
    text-decoration: none;
    transition: var(--transition);
}

.navLinkButton:hover {
    background-color: var(--button-hover); /* Цвет фона при наведении */
    color: white;  /* Цвет текста при наведении */
    border-color: var(--button-hover); /* Цвет границы при наведении */
}

/* Темная тема */
/*[data-theme='dark'] .cardHeaderTitle {*/
/*    color: var(--text-color-dark); !* Белый текст в темной теме *!*/
/*}*/

[data-theme='dark'] .navLinkButton {
    background-color: white; /* Белый фон в темной теме */
    color: var(--text-color-dark); /* Темный текст в темной теме */
    border-color: white; /* Белая граница в темной теме */
}

[data-theme='dark'] .navLinkButton:hover {
    background-color: var(--button-hover); /* Синий фон на hover в темной теме */
    color: white; /* Белый текст при наведении */
    border-color: var(--button-hover); /* Синяя граница при наведении */
}

/*!* Светлая тема *!*/
/*[data-theme='light'] .cardHeaderTitle {*/
/*    color: var(--text-color-light); !* Черный текст в светлой теме *!*/
/*}*/

[data-theme='light'] .navLinkButton {
    background-color: var(--button-background); /* Синий фон в светлой теме */
    color: var(--text-color-light); /* Белый текст в светлой теме */
    border-color: var(--button-background); /* Синяя граница в светлой теме */
}

[data-theme='light'] .navLinkButton:hover {
    background-color: var(--button-hover); /* Тёмно-синий фон на hover в светлой теме */
    color: white; /* Белый текст при наведении */
    border-color: var(--button-hover); /* Тёмно-синяя граница при наведении */
}

/* Стили для голосов */
.voteAverage {
    background-color: var(--vote-red);
    width: var(--vote-average-size);
    height: var(--vote-average-size);
    border-radius: 50%;
    position: absolute;
    top: 235px;
    left: 135px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.voteAverageRed {
    background-color: var(--vote-red);
}

.voteAverageYellow {
    background-color: var(--vote-yellow);
}

.voteAverageGreen {
    background-color: var(--vote-green);
}


h2{
    color:var(--text-color);
}