:root {
    --font-family: "Arial", sans-serif;
    --transition: all 0.3s ease;

    /* Переменные для светлой темы */
    --background-color-light: #ffffff;
    --text-color-light: #000000;
    --header-background-light: #0d253f;
    --button-background: #1976d2;
    --button-hover: #1565c0;
    --input-background: #ffffff;
    --input-text-color: #000000;
    --footer-background: #b9e8e8;
    --vote-average-size: 50px;
    --vote-average-font-size: 16px;
    --card-width: 200px;
    --card-height: 300px;
    --card-border-radius: 15px;
    --vote-red: red;
    --vote-yellow: yellow;
    --vote-green: green;

    /* Переменные для темной темы */
    --background-color-dark: #181818;
    --text-color-dark: #f4e7e7;
    --header-background-dark: #01b4e4;
    --footer-background-dark: #333333;
    --vote-average-red-dark: darkred;
    --vote-average-yellow-dark: goldenrod;
    --vote-average-green-dark: darkgreen;

    /* Новые переменные для фона карточек */
    --card-background-light: #f0f0f0; /* Фон для светлой темы */
    --card-background-dark: #333333;  /* Фон для темной темы */

    /* По умолчанию для светлой темы */
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --header-background: var(--header-background-light);
    --card-background: var(--card-background-light);  /* Значение по умолчанию для фона карточек */
}

/* Применение тем */
[data-theme='light'] {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --header-background: var(--header-background-light);
    --footer-background: var(--footer-background);
    --card-background: var(--card-background-light);  /* Светлая тема для карточек */
}

[data-theme='dark'] {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --header-background: var(--header-background-dark);
    --footer-background: var(--footer-background-dark);
    --vote-average-red: var(--vote-average-red-dark);
    --vote-average-yellow: var(--vote-average-yellow-dark);
    --vote-average-green: var(--vote-average-green-dark);
    --card-background: var(--card-background-dark);  /* Темная тема для карточек */
}
