.headerContainer {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(13,37,63);

    z-index: 2;
    justify-content: space-around;


}


.headerMenu{
    display: flex;
    gap: 15px;
    align-items: center;
}

.headerMenu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    transition: opacity 0.15s ease;

}

